@font-face {
    font-family: Inter;
    font-style: normal; 
    font-weight: 400;  
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal; 
    font-weight: 700;  
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal; 
    font-weight: 900;  
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    font-weight: 22px;
    color: black;
    background: #FEAFC3;
}

.page-header {
    color: #2D3440;
    background: #FEAFC3;
}

.navigation-link {
    font-family: Inter, Arial, sans-serif;
    line height: 20px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.navigation-user {
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    line height: 20px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.contacts-phone {
    font-family: Inter, Arial, sans-serif;
    line height: 20px;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}