@font-face {
    font-family: Inter;
    font-style: normal; 
    font-weight: 400;  
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal; 
    font-weight: 700;  
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal; 
    font-weight: 900;  
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2D3440;
    background: white;
}

.page-header {
    color: #2D3440;
    background: white;
}

.navigation-link {
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.navigation-user-link {
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.contacts-phone {
    line-height: 20px;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    font-style: normal;
}

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;  
}

.slider-description {
    font-size: 18px;
}

.slider-button-confirm {
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.gifts-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center; 
}

.gifts-first-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.gift-first-description {
    line-height: 22px;
}

.gifts-second-title {
    font-weight: 700;
    line-height: 30px;
}

.gift-second-description {
    line-height: 22px;
}

.button-all {
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

/* Popular products*/
.popular-product-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.product-card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.product-card-description {
    line-height: 22px;
    text-align: center;
    color: #565C66;
}

.product-card-price {
    font-weight: 700;
    font-size: 20px;
}

.product-card-link {
    color: inherit;
    text-decoration: none;
}

.product-card-image {
    border-radius: 50%;
}

.product-card {
    background-color: white;
    border-radius: 8px;
}










